.photo-grid_wrapper {
  display: block;
  margin: 0 48px 92px 48px;
}

@media screen and (max-width: 1024px) {
  .photo-grid_wrapper {
    margin: 0 48px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid_wrapper {
    margin: 0 24px 88px 24px;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid_wrapper {
    margin: 0 16px 64px 16px;
  }
}
