.place__paragraph {
  margin: 0;
  max-width: 484px;
  font-size: 18px;
  line-height: 1.6;
  padding-bottom: 26px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
    padding-bottom: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    padding-bottom: 25px;
  }
}


@media screen and (max-width: 767px) {
  .place__paragraph {
    margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / (767 - 320)));
    margin-right: calc(16px + (24 - 16) * ((100vw - 320px) / (767 - 320)));
    /* max-width: 100%; */
    line-height: 1.63;
  }
}
