.intro__list-text {
  margin: 0;
  /* margin-left: calc(48px + (148 - 48) * ((100vw - 1024px) / (1280 - 1024))); */
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 600px) {
  .intro__list-text {
  font-size: 12px;
  line-height: 1.5;
  }
}
