.cover {
  max-width: 1184px;
  margin: 0 auto 92px;
}


@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}


@media screen and (max-width: 650px) {
  .cover {
    margin-bottom: 64px;
  }
}
