.cover__overlay {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  color: #fff;
  background-image: url(../../../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  min-height: 740px;
}


.cover__overlay::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background: #2A2C2F;
  transition: opacity  ease-out .7s;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
  max-width: 100%;
  min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover__overlay {
  min-height: 480px;
  }
}

@media screen and (max-width: 650px) {
  .cover__overlay {
  min-height: 200px;
  }
}
