.footer {
  margin: 0 48px 24px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  }

  @media screen and (max-width: 1024px) {
    .footer {
      max-width: 928px;
    }
  }

  @media screen and (max-width: 768px) {
    .footer {
      max-width: 720px;
      margin: 0 24px 24px;
    }
  }

  @media screen and (max-width: 650px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 186px;
  }
}
