.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .place__website {
    margin-right: calc(16px + (24 - 16) * ((100vw - 320px) / (600 - 320)));
    margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / (600 - 320)));
    max-width: 100%;
  }
}
