.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .place__website {
    text-align: center;
    max-width: 288px;
    padding: 0;
  }
}
